# Strings, Lists, For-Loops

In [8]:
a = "Python is interesting !"

In [23]:
''' Slice a String, starting from the startIndex through (endIndex - 1), resulting in a string whose length is equal to (endIndex - startIndex) '''

aSlice = a[2:4]
len(aSlice)

2

In [17]:
''' Print the last character of the string '''

a[-1]

'!'

In [21]:
''' Extract Substring starting from startIndex through (endIndex - 1) '''
print(a[:5])

Pytho

In [22]:
''' -5 indicates the 5th character from the end. So, this expression extracts the substring starting from 0 till the 5th character from the end '''

print(a[:-5])

Python is interest

In [24]:
''' Extract substring starting from 2 through rest of the string '''
a[2:]

'thon is interesting !'

In [25]:
''' Extract the whole string '''
a[:]

'Python is interesting !'

In [27]:
''' Stride operation, extracting every nth character specified by the step factor. The following expression extracts every 2nd character, starting from 0 through the end of the string'''
a[::2]

'Pto sitrsig!'

In [30]:
''' Extract every 2nd character starting from 3 through (8 - 1) '''
a[3:8:2]

'hni'

In [31]:
''' Extract every 3rd character, starting from 2, through the rest of the string'''
a[2::3]

'tnsnrtg'

In [32]:
''' Extract and return the substring starting from 0, through (5 - 1), stepping through every character'''
a[:5:1]

'Pytho'

In [34]:
''' Reverse a String '''
a[::-1]

'! gnitseretni si nohtyP'

In [48]:
''' Reverse every word in the string '''
aPieces = a.split()
print(aPieces)
result = ""
for word in aPieces:
    result += word[::-1]
    if(word != aPieces[-1]):
        result += " "
print(result) 

print(len(a))
print(len(result))

['Python', 'is', 'interesting', '!']
nohtyP si gnitseretni !
23
23

In [50]:
l = [0,1,1,3,4,5]
print(l)

[0, 1, 1, 3, 4, 5]

In [52]:
''' lists are heterogeneous '''
ll = ['Hello', 2, 3.5, True, 3 + 5]
print(ll)

['Hello', 2, 3.5, True, 8]

In [54]:
''' Lists and Strings are sequence data types '''
ll[2]

3.5

In [55]:
''' All the string slicing, striding, reversing operations etc; are also applicable for lists '''
print(ll[:])
print(ll[2:])
print(ll[1:])
print(l[::-1])

['Hello', 2, 3.5, True, 8]
[3.5, True, 8]
[2, 3.5, True, 8]
[5, 4, 3, 1, 1, 0]

In [56]:
''' Lists can contain other lists '''
lll = [2,3,4, ll, l]
print(lll)

[2, 3, 4, ['Hello', 2, 3.5, True, 8], [0, 1, 1, 3, 4, 5]]

In [57]:
for i in l:
    print(i)

0
1
1
3
4
5

In [60]:
for i, num in enumerate(l):
    print('At ' + str(i) + ' we have ' + str(num))

At 0 we have 0
At 1 we have 1
At 2 we have 1
At 3 we have 3
At 4 we have 4
At 5 we have 5

In [63]:
l1 = [1,2,3,4,5]
l2 = [0,1,1,2,3]

print(list(zip(l1, l2)))

[(1, 0), (2, 1), (3, 1), (4, 2), (5, 3)]

In [64]:
l.append(10)
l

[0, 1, 1, 3, 4, 5, 10]

In [65]:
l.remove(4)
l

[0, 1, 1, 3, 5, 10]

In [70]:
for ch in a:
    print(ch.lower())

p
y
t
h
o
n

i
s

i
n
t
e
r
e
s
t
i
n
g

!

In [68]:
list(range(2,3))

[2]

In [69]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]